{
  "extends": ["prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "allowImportExportEverywhere": true
    }
  },
  "rules": {
    "semi": 2,
    "no-undef": 2,
    "no-unused-vars": 2
  }
}
