* {
  box-sizing: border-box;
}
:root {
  --padding: 0.3rem;
  --border-color: #444;
  --interactive-background-color: #333;
  --actionable-color: #666;
  --font-size: 11px;
  --font-color: #e2e2e2;
  --font-family: sans-serif;
  --font-color-dark: #868383;
  --enabled-color: #145037;
  --disabled-color: #421616;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
html {
  background: #222;
  font-family: var(--font-family);
}

section {
  padding: var(--padding);
}
section + section {
  padding-top: 0;
}
button {
  -webkit-appearance: none;
  background: var(--interactive-background-color);
  color: var(--font-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  cursor: pointer;
}
button + button {
  margin-left: var(--padding);
}

.statuses {
  margin: 0 auto;
  display: flex;
}

.actions {
  display: flex;
}

.tab-switcher {
  display: flex;
  list-style: none;
  margin: 0;
  padding: var(--padding) 0 0 0;
  border-bottom: 1px solid var(--border-color);
}
.tab-switcher button {
  border-radius: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  margin-bottom: -1px;
}
.tab-switcher > :last-child button {
  border-radius: 0 .5rem 0 0;
  border-right-width: 1px;
}
.tab {
  margin-top: 0;
}
.highlight {
  background-color: var(--actionable-color);
}
