* {
  box-sizing: border-box;
}
:root {
  --padding: 0.3rem;
  --border-color: #444;
  --interactive-background-color: #333;
  --enabled-color: #145037;
  --disabled-color: #421616;
  --actionable-color: #666;
  --font-size: 11px;
  --font-family: sans-serif;
  --font-color: #e2e2e2;
  --font-color-dark: #868383;
  --background-color: #222;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 1150px;
}
html {
  background: var(--background-color);
  font-family: var(--font-family);
}

section {
  padding: var(--padding);
}
section + section {
  padding-top: 0;
}
button {
  -webkit-appearance: none;
  background: var(--interactive-background-color);
  color: var(--font-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  cursor: pointer;
}
button[disabled] {
  color: grey;
  cursor: default;
}
button + button {
  margin-left: var(--padding);
}

.statuses {
  margin: 0 auto;
  display: flex;
}

.actions {
  display: flex;
}

.highlight {
  background-color: var(--actionable-color);
}

c-layer, c-flash-layer {
  border: 1px solid var(--border-color);
}
c-layer + c-layer,
c-layer + c-flash-layer {
  border-left-width: 0;
}
c-layer {
  flex: 2;
}
c-flash-layer {
  flex: 1;
}

c-layers {

}
